<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Listado de usuarios</title>

</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container">
        <h2 class="pageTitle text-center mt-5 mb-5">Mis reservas</h2>

        <th:block th:replace="fragments/flash :: flash" />


        <div class="row">
            <div th:each="booking : ${bookings}" class="col-12">
                <div class="row justify-content-center">
                    <div class="col-2 text-center">
                        <img class="img-fluid" th:src="@{/vehicle/{id}/pic(id=${booking.vehicle.id})}"
                            alt="Imagen coche">
                    </div>

                    <div class="col-2 text-center">
                        <p th:text="${booking.vehicle.modelName}"></p>
                        <p th:text="${booking.vehicle.brand}"></p>
                        <p th:text="${booking.vehicle.license}"></p>
                    </div>

                    <div class="col text-center">
                        <h4 th:text="${booking.id.in_date + ' - ' + booking.id.out_date}"></h4>
                    </div>

                    <div class="col text-center">
                        <button class="btn" data-bs-toggle="modal" th:onclick="'showModal(' + ${booking.vehicle.id} + ')'" data-bs-target="#modalTicket">
                            <i class="fa-solid fa-triangle-exclamation"></i> Reportar incidencia
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL -->


    <div class="modal fade" id="modalTicket" tabindex="-1" aria-labelledby="modalTicketLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTicketLabel">Reportar incidencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <form id="modalSendTicket" class="row" method="POST" th:action="@{/booking/ticket/}">
                    
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <h4>Detalles</h4>
                            </div>
                            <div class="row">
                                <div class="row d-flex mt-3 text-align-center">
                                    <div class="col">
                                        <label for="gravity">Gravedad</label>
                                        <select name="combustible" id="combustible" class="form-select mt-1">
                                            <option th:each="g : ${gravitys}" th:value="${g}" th:text="${g}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row d-flex text-align-center mt-3">
                                    <div class="form-group">
                                        <label for="texto-incidencia">Incidencia</label>
                                        <textarea type="text" class="form-control form-control-lg"
                                            id="texto-incidencia" placeholder="Escriba aqui el problema"> 
                                        </textarea>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center mt-3">
                                    <div class="col-12 text-center">
                                        <button class="btn mb-2">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/bookingHistory.js}"> </script>


</body>

</html>