<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rent A Ride - Inicio</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img th:src="@{/img/{name}(name=${vehicle.imagePath})}" alt="" class="mt-4 img-fluid">
            </div>
            <div class="offset-1 col-6 mt-5">
                <div class="row">
                    <h2 class="mt-5" th:text="${vehicle.vehicle}">Mazda RX-7</h2>
                    <p class="text-break" th:text="${vehicle.description}">RX-7 - 206 kW/276 CV</p>
                </div>
                <div class="row mt-5">
                    <p class="fw-bold fs-5">Detalles del vehículo</p>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <p class="mb-0">Año</p>
                        <p class="fw-bold" th:text="${vehicle.oldYear}">1992</p>
                    </div>
                    <div class="col-3">
                        <p class="mb-0">Combustible</p>
                        <p class="fw-bold" th:text="${vehicle.fuel}">Gasolina</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0">Consumo</p>
                        <p class="fw-bold text-break" th:text="|${vehicle.roadConsumption} - ${vehicle.cityConsumption}L/100km|">12,3 - 15,7L/100km</p>
                    </div>
                    <div class="col-3">
                        <p class="mb-0">Cambio</p>
                        <p class="fw-bold" th:text="${vehicle.transmission}">Manual</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="mb-0">Plazas</p>
                        <p class="fw-bold" th:text="${vehicle.seats}">4</p>
                    </div>
                    <div class="col-2">
                        <p class="mb-0">Puertas</p>
                        <p class="fw-bold" th:text="${vehicle.doors}">3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="offset-6 col-6">
                <div class="row">
                    
                    <p class="mb-0"><i class="fa-solid fa-battery-full"></i> Autonomía diaria incluida</p>
                    <p class="fw-bold" th:text="|${vehicle.autonomy}km/día incluidos|">400km/día incluidos</p>
                </div>
                <div class="row">
                    <p class="mb-0"><i class="fa-solid fa-location-dot"></i> Ubicación de recogida</p>
                    <p class="fw-bold" th:text="${vehicle.location.name}">T4 Barajas, Madrid</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p class="fs-2 textColor5" th:text="|${vehicle.priceByDay} €/día|">145 €/día</p>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalAlquiler">
                    Reservar
                    </button>                  
            </div>
        </div>
        <div class="modal fade" id="modalAlquiler" tabindex="-1" aria-labelledby="modalAlquilerLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalAlquilerLabel">Finalizar reserva</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <form class="row" method="POST" th:action="@{/vehicle/{id}/booking(id=${vehicle.id})}">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h4>Resumen de la reserva</h3>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p class="mb-0">Vehículo</p>
                                <p class="mt-0 fw-bold" th:text="${vehicle.vehicle}">Mazda RX-7</p>
                            </div>
                            <div class="col-4">
                                <p class="mb-0">Descripción</p>
                                <p class="mt-0 text-break fw-bold" th:text="${vehicle.description}">RX-7 - 206kW/276 CV</p>
                            </div>
                            <div class="col-3">
                                <p class="mb-0">Fecha inicio</p>
                                <input type="date" id="inDate" name="inDate" class="form-control" min="">
                            </div>
                            <div class="col-3">
                                <p class="mb-0">Fecha fin</p>
                                <input type="date" id="outDate" name="outDate" class="form-control" min="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p class="mb-0">Plazas</p>
                                <p class="mt-0 fw-bold" th:text="${vehicle.seats}">4</p>
                            </div>
                            <div class="col-2">
                                <p class="mb-0">Puertas</p>
                                <p class="mt-0 fw-bold" th:text="${vehicle.doors}">3</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-3">
                                <p class="mb-0">Precio por día</p>
                                <p class="mt-0 fw-bold" id="precioDiario" th:text="|${vehicle.priceByDay} €|">145 €</p>
                                <input type="hidden" name="precio" th:value="${vehicle.priceByDay}">
                            </div>
                            <div class="col-4">
                                <div class="row row-cols-auto">
                                    <div class="col mt-2">
                                        <p class="mb-0 fs-5 fw-bold" >Precio total</p>
                                    </div>
                                    <div class="col">
                                        <p class="mt-0 fs-3 textColor5 fw-bold" id="precioTotal">0 €</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn">Reservar</button>
                </div>
            </form>
              </div>
            </div>
          </div>
    </div>
    <script>
        //Este script habra que extraerlo a un fichero, no esta hecho para evitar conflictos
        function updateDateDifference() {
            var startDateValue = document.getElementById('inDate').value;
            var endDateValue = document.getElementById('outDate').value;
            if (startDateValue && endDateValue) {
                var startDate = new Date(document.getElementById('inDate').value);
                var endDate = new Date(document.getElementById('outDate').value);
                var timeDiff = endDate.getTime() - startDate.getTime();
                var daysDiff = Math.floor(timeDiff / (1000 * 3600 * 24)) + 1;
                var daysWithEuro = document.getElementById('precioDiario').textContent;
                document.getElementById('precioTotal').innerHTML = daysDiff*parseFloat(daysWithEuro.replace(' €', '')) + " €";
                
                if(endDate.getTime() - startDate.getTime() < 0){
                    document.getElementById('outDate').value = document.getElementById('inDate').value;
                    document.getElementById('precioTotal').innerHTML = parseFloat(daysWithEuro.replace(' €', '')) + " €";
                }
            }
        }
        document.getElementById('outDate').addEventListener('change', updateDateDifference);
        document.getElementById('inDate').addEventListener('change', updateDateDifference);
        document.getElementById('inDate').addEventListener('change', function(){
            outDate.setAttribute("min", document.getElementById('inDate').value);
            var startDate = new Date(document.getElementById('inDate').value);
            var endDate = new Date(document.getElementById('outDate').value);
        });

        let currentDate = new Date().toISOString().substr(0, 10);
        let inDate = document.getElementById("inDate");
        let outDate = document.getElementById("outDate");
        inDate.setAttribute("min", currentDate);
        outDate.setAttribute("min", currentDate);
    </script>

    <th:block th:include="fragments/footer"/>
</body>
</html>