<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="fragments/head :: header" />
    <title>Chats entrantes</title>

</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>


    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <h1 class=" m-4"> Calendario de disponibilidad de coches</h1>
                <img th:src="@{/img/Calendar.png}" src="/img/Calendar.png" alt="" class="img-fluid">
                <!--Primer prototipo-->
            </div>
        </div>
    </div>


    <th:block th:replace="fragments/footer.html :: footer" />

</body>

</html>