<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title th:inline="text">[[${@environment.getProperty('APP_NAME')}]] - Gestión de flota</title>
    <script th:src="@{/js/booking.js}"></script>
    <script th:src="@{/js/vehicleSearch.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    
    <div class="container my-4">
        <div class="row mt-4 gx-5">

            <!-- Search Filter-->
            <div class="border lightBlueBorder rounded col-sm-3 col-md-3 col-lg-3 col-xl-3 pb-3">
                <h5 class="card-title text-center mt-3 mb-4">Filtro de Búsqueda</h5>
                <div class="card-text">
                    <div class="mb-3">
                        <label for="priceRange" class="form-label">Precio por dia</label> </br>
                        <div class="mt-3">
                        <input type="text" class="js-range-slider" id="rangoPrecio" name="my_range" value="" />
                    </div>
                    </div>
                    <div class="mt-2">
                        <label for="combustible">Combustible</label>
                        <select id="tipoDeCombustible" class="form-select mt-1 filtro">
                            <option value="Todos">Todos</option>
                            <option th:each="fuel : ${fuels}" 
                                th:value="${fuel}" 
                                th:text="${fuel}">
                            </option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="plazas">Plazas</label>
                        <select id="numeroPlazas" class="form-select mt-1 filtro">
                            <option value="Todos">Todos</option>
                            <option value="7">7</option>
                            <option value="5">5</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="plazas">Cambio</label>
                        <select id="cambio" class="form-select mt-1 filtro">
                            <option value="Todos">Todos</option>
                            <option th:each="t : ${transmission}" 
                                th:value="${t}" 
                                th:text="${t}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            
            <!-- Search button-->
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9" id="paginaGestionFlota">
                <div class="row">
                    <p class="fw-bold fs-1 text-center mb-5">Gestión de Flota</p>
                </div>
                <div class="mb-5 row justify-content-md-center">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 filtro" type="search" id="searchV" placeholder="Buscar vehiculo..."
                                aria-label="Search" value="">
                        </form>
                    </div>
                </div>

                <div th:each="vehicle : ${vehicles}" class="tarjetaVehiculo" th:combustible="${vehicle.fuel}" th:plazas="${vehicle.seats}" th:cambio="${vehicle.transmission}" th:nombre="|${vehicle.brand} ${vehicle.modelName}|" th:precio="${vehicle.priceByDay}">
                    <!-- Listado de coches -->
                    <div class="row mb-2 border lightBlueBorder rounded">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <img class="img-fluid" th:src="@{/vehicle/{id}/pic(id=${vehicle.id})}"
                                alt="Imagen coche">
                        </div>
                        <div class="my-auto col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="row">
                                <div class="col-auto">
                                    <p class="my-auto fw-bold fs-5" th:text="|${vehicle.brand} ${vehicle.modelName}|"> Modelo de coche</p>
                                    <p th:text="${vehicle.license}">Matricula</p>
                                </div>
                                <div class="col-auto">
                                    <p class="my-auto fw-bold fs-5">Precio</p>
                                    <p th:text="|${vehicle.priceByDay} €/día|">Precio</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-auto col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <div class="row">
                                <a href="#" data-bs-toggle="modal" th:attr = "data-bs-target='#modalModificarVehiculo'+${vehicle.id}" class="textColor1 text-decoration-none">Modificar</a>
                            </div>
                            <div class="row">
                                <a href="#viewBooking" th:onclick="viewBooking([[(${vehicle.id})]])"
                                    class="textColor1 text-decoration-none">Consultar reserva</a>
                            </div>
                        </div>
                    </div>

                    <form class="row" method="POST" enctype="multipart/form-data" th:action="@{vehicle/{id}/modify(id=${vehicle.id})}">
                    <div class="modal fade" th:id="modalModificarVehiculo+${vehicle.id}" tabindex="-1" aria-labelledby="modalAlquilerLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Modificar</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row d-flex text-align-center mt-3">
                                                <div class="col">
                                                    <label for="marca">Marca</label>
                                                    <input type="text" class="form-control mt-1" placeholder="Mazda" th:value="${vehicle.brand}" name="marca" id="marca">
                                                </div>
                                                <div class="col">
                                                    <label for="modelo">Modelo</label>
                                                    <input type="text" class="form-control mt-1" name="modelo" id="modelo" placeholder="RX-8" th:value="${vehicle.modelName}">
                                                </div>
                                                <div class="col">
                                                    <label for="año">Año de fabricacion</label>
                                                    <input type="number" name="anio" id="anio" class="form-control mt-1" th:value="${vehicle.oldYear}" placeholder="2020" min="1900" max="2023">
                                                </div>
                                            </div>
                                            <div class="row d-flex mt-3 text-align-center">
                                                <div class="col">
                                                    <label for="combustible">Combustible</label>
                                                    <select id="combustible" class="form-select mt-1 filtro" name="combustible">
                                                        <option th:each="f : ${fuels}" th:value="${f}" th:text="${f}" th:selected="${f==vehicle.fuel}"></option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="consumo">Consumo</label>
                                                    <input type="text" class="form-control mt-1" th:value="${vehicle.consumption}" name="consumo" id="consumo" placeholder="L/100Km">
                                                </div>
                                                <div class="col">
                                                    <label for="cambio">Cambio</label>
                                                    <select name="cambio" id="cambio" class="form-select mt-1">
                                                        <option th:each="t : ${transmission}" th:value="${t}" th:text="${t}" th:selected="${t==vehicle.transmission}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                
                                            <div class="row d-flex text-align-center mt-3">
                                                <div class="col">
                                                    <label for="puertas">Puertas</label>
                                                    <select name="puertas" id="puertas" class="form-select  mt-1">
                                                        <option value="3" th:selected="${3==vehicle.doors}">3</option>
                                                        <option value="5" th:selected="${5==vehicle.doors}">5</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="plazas">Plazas</label>
                                                    <select name="plazas" id="plazas" class="form-select mt-1">
                                                        <option value="7" th:selected="${7==vehicle.seats}">7</option>
                                                        <option value="5" th:selected="${5==vehicle.seats}">5</option>
                                                        <option value="2" th:selected="${2==vehicle.seats}">2</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="cv">CV</label>
                                                    <input type="number" name="cv" id="cv" class="form-control mt-1" th:value="${vehicle.cv}" placeholder="231" min="50" max="1000">
                                                </div>
                                            </div>
                                            <div class="row d-flex text-align-center mt-3">
                                                <div class="col mt-2">
                                                    <label for="matricula">Matricula</label>
                                                    <input type="text" class="form-control  mt-1" th:value="${vehicle.license}" placeholder="0000-DDD" name="matricula"
                                                        id="matricula">
                                                </div>
                                                <div class="col mt-2">
                                                    <label for="autonomia">Autonomia diaria</label>
                                                    <input type="text" class="form-control mt-1" th:value="${vehicle.autonomy}" name="autonomia" id="autonomia"
                                                        placeholder="400km/dia">
                                                </div>
                                                <div class="col">
                                                    <label for="img" class="form-label mt-1">Imagen</label>
                                                    <input class="form-control" type="file" id="img" name="img">
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-center mt-3">
                                                <div class="col-4">
                                                    <label for="recogida" class="form-label">Punto de recogida</label>
                                                    <select name="recogida" id="recogida" class="form-select  mt-1">
                                                        <option th:each="l : ${locations}" th:value="${l}" th:text="${l.name}" th:selected="${l.name==vehicle.location.name}"></option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <label for="precio" class="form-label mt-1">Precio por día</label>
                                                    <input class="form-control" type="number" th:value="${vehicle.priceByDay}" step=".01" min="0" id="precio" name="precio" placeholder="234,23€">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn" id="confirm-reservar">Modificar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Show Bookings -->
    <div class="modal fade" id="modalAlquiler" tabindex="-1" aria-labelledby="viewBookingLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2> Informacion booking</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <table class="table" id="content-booking">
                        <tr>
                            <th>
                                Precio Reserva
                            </th>
                            <th>
                                Fecha de incio
                            </th>
                            <th>
                                Fecha de fin
                            </th>
                        </tr>
                        <tr>
                            <td id="precio-book">
                                Precio vehiculo
                            </td>
                            <td id="in-date">
                                Fecha de incio
                            </td>
                            <td id="out-date">
                                Fecha de fin
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
    </script>
</body>

</html>