<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head :: header" />
    <title th:inline="text">[[${@environment.getProperty('APP_NAME')}]] - Crear vehiculo</title>
</head>

<body class="d-flex flex-column h-100">
    <th:block th:include="fragments/nav :: nav" />
    <div class="container my-3" style="width: 60%;">
        <h2 class="pageTitle text-center mt-4">Crear nuevo vehículo</h2>

        <form class="createVehicleForm" th:action="@{/vehicle/create}" method="post">
            <div class="row d-flex text-align-center mt-3">
                <div class="col">
                    <label for="marca">Marca</label>
                    <input type="text" class="form-control mt-1" placeholder="Mazda" name="marca" id="marca">
                </div>
                <div class="col">
                    <label for="modelo">Modelo</label>
                    <input type="text" class="form-control  mt-1" name="modelo" id="modelo" placeholder="RX-8">
                </div>
                <div class="col">
                    <label for="año">Año de fabricacion</label>
                    <input type="number" name="anio" id="anio" class="form-control  mt-1" placeholder="2020" min="1900" max="2023">
                </div>
            </div>
            <div class="row d-flex mt-3 text-align-center">
                <div class="col">
                    <label for="combustible">Combustible</label>
                    <select name="combustible" id="combustible" class="form-select mt-1">
                        <option th:each="fuel : ${fuels}" 
                                th:value="${fuel}" 
                                th:text="${fuel}">
                        </option>
                      </select>
                </div>
                <div class="col">
                    <label for="consumo">Consumo</label>
                    <input type="text" class="form-control mt-1" name="consumo" id="consumo" placeholder="L/100Km">
                </div>
                <div class="col">
                    <label for="cambio">Cambio</label>
                    <select name="cambio" id="cambio" class="form-select  mt-1">
                        <option value="Manual">Manual</option>
                        <option value="Automático">Automático</option>
                    </select>
                </div>
            </div>

            <div class="row d-flex text-align-center mt-3">
                <div class="col">
                    <label for="puertas">Puertas</label>
                    <select name="puertas" id="puertas" class="form-select  mt-1">
                        <option value="3">3</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col">
                    <label for="plazas">Plazas</label>
                    <select name="plazas" id="plazas" class="form-select mt-1">
                        <option value="7">7</option>
                        <option value="5">5</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="col">
                    <label for="cv">CV</label>
                    <input type="number" name="cv" id="cv" class="form-control mt-1" placeholder="231" min="50" max="1000">
                </div>
            </div>
            <div class="row d-flex text-align-center mt-3">
                <div class="col mt-2">
                    <label for="matricula">Matricula</label>
                    <input type="text" class="form-control  mt-1" placeholder="0000-DDD" name="matricula"
                        id="matricula">
                </div>
                <div class="col mt-2">
                    <label for="autonomia">Autonomia diaria</label>
                    <input type="text" class="form-control  mt-1" name="autonomia" id="autonomia"
                        placeholder="400km/dia">
                </div>
                <div class="col">
                    <label for="img" class="form-label mt-1">Imagen</label>
                    <input class="form-control" type="file" id="img" name="img">
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-4">
                    <label for="recogida" class="form-label">Punto de recogida</label>
                    <select name="recogida" id="recogida" class="form-select  mt-1">
                        <option value="Sevilla" selected>Sevilla</option>
                        <option value="Madrid">Madrid</option>
                        <option value="Barcelona">Barcelona</option>
                        <option value="Valencia">Valencia</option>
                        <option value="Málaga">Málaga</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="precio" class="form-label mt-1">Precio por día</label>
                    <input class="form-control" type="number" step=".01" min="0" id="precio" name="precio" placeholder="234,23€">
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-12 text-center">
                    <button class="btn mb-2">Crear</button>
                </div>
                <div class="col-12 text-center">
                    <a role="button" class="link-primary textColor1" data-bs-toggle="modal" data-bs-target="#loadData">
                        Cargar datos desde un fichero
                    </a>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loadData" tabindex="-1" aria-labelledby="loadData" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cargar datos desde un fichero</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <label for="data" class="form-label">Seleccione el fichero con el formato adecuado</label>
                        <input class="form-control" type="file" name="data" id="data">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn">Cargar datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>