<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head :: header" />
    <title th:inline="text">[[${@environment.getProperty('APP_NAME')}]] - Crear vehiculo</title>
</head>

<body class="d-flex flex-column h-100">
    <th:block th:include="fragments/nav :: nav" />
    <div class="container" style="width: 80%;">
        <h2 class="pageTitle text-center mt-5">Crear nueva incidencia</h2>

        <form class="createVehicleForm" th:action="@{/booking/ticket/${idVehicle}}" method="post">
            <div class="row d-flex mt-3 text-align-center">
                <div class="col">
                    <label for="gravity">Gravedad</label>
                    <select name="combustible" id="combustible" class="form-select mt-1">
                        <option th:each="g : ${gravitys}" 
                                th:value="${g}" 
                                th:text="${g}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row d-flex text-align-center mt-3">
                <div class="form-group">
                    <label for="texto-incidencia">Incidencia</label>
                    <input type="text" class="form-control form-control-lg" id="texto-incidencia">
                  </div>
            </div>
            
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-12 text-center">
                    <button class="btn mb-2">Enviar</button>
                </div>
            </div>
        </form>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>