<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title th:inline="text">[[${@environment.getProperty('APP_NAME')}]] - Calendario de reservas</title>
</head>

<body class="d-flex flex-column min-vh-100 h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container-fluid my-4">
        <h2 class="pageTitle text-center mt-3">Actividad Reciente</h2>

        <div class="row justify-content-center align-items-center mt-4">
            <div class="col-1 text-center"><button class="border-0 calendarDatePagination pageLeft">&#60;</button></div>
            <div class="col-3 text-center calendarDateRange"
                th:text="${#temporals.format(bookings.keySet().toArray()[7], 'dd/MM/yyyy') + ' - ' + #temporals.format(bookings.keySet().toArray()[13], 'dd/MM/yyyy')}">
            </div>
            <div class="col-1 text-center"><button class="border-0 calendarDatePagination pageRight">&#62;</button>
            </div>
        </div>

        <div class="row m-5 calendarEvents">
            <div class="col" th:id="${iterator.index}" th:each="day, iterator : ${bookings}">
                <div th:switch="${iterator.index % 7}">
                    <h2 class="calendarEventDay text-center" th:case="0">Lunes</h2>
                    <h2 class="calendarEventDay text-center" th:case="1">Martes</h2>
                    <h2 class="calendarEventDay text-center" th:case="2">Miércoles</h2>
                    <h2 class="calendarEventDay text-center" th:case="3">Jueves</h2>
                    <h2 class="calendarEventDay text-center" th:case="4">Viernes</h2>
                    <h2 class="calendarEventDay text-center" th:case="5">Sábado</h2>
                    <h2 class="calendarEventDay text-center" th:case="6">Domingo</h2>
                </div>
                <h6 class="calendarEventDate text-center" th:text="${#temporals.format(day.key, 'dd/MM/yyyy')}">Day</h6>
                <p class="text-center greyed" th:if="${#lists.isEmpty(day.value)}">Sin movimientos</p>

                <div class="card calendarEvent mt-3" th:each="booking : ${day.value}" th:attr="onClick='showDetails(' + ${booking.toJSON()} + ')'">
                    <div class="calendarEventStrip bookingStart mb-2" th:if="${booking.id.in_date.isEqual(day.key)}">
                    </div>
                    <div class="calendarEventStrip bookingEnd mb-2" th:if="${booking.id.out_date.isEqual(day.key)}">
                    </div>

                    <div class="card-body">
                        <p class="card-title" th:if="${booking.id.in_date.isEqual(day.key)}">Inicio reserva</p>
                        <p class="card-title" th:if="${booking.id.out_date.isEqual(day.key)}">Fin reserva</p>
                        <p class="card-text"
                            th:text="${booking.vehicle.brand + ' ' + booking.vehicle.modelName + ' - ' + booking.vehicle.license}">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <form th:action="|/booking/editBooking|" method="POST">
        <div class="modal fade" id="bookingDetails" tabindex="-1" aria-labelledby="bookingDetailsLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingDetailsLabel">Resumen de la reserva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-3 text-center"><span>Fecha inicio</span><br/>
                                    <input type="date" class="form-control" id="inDate" name="inDate"></div>
                                <div class="col-3 text-center"><span>Fecha fin</span><br/>
                                    <input type="date" class="form-control" id="outDate" name="outDate"></div>
                                <div class="col-3 text-center"><span>Precio total</span><br/>
                                    <input type="text" class="form-control" id="price" name="price"></div>
                                    <input type="hidden" class="form-control" id="BookingUserID" name="BookingUserID" >
                                    <input type="hidden" class="form-control" id="BookingVehicleID" name="BookingVehicleID" >
                                    <input type="hidden" class="form-control" id="oldInDate" name="oldInDate" >
                                    <input type="hidden" class="form-control" id="oldOutDate" name="oldOutDate" >
                            </div>
                            <div class="row mt-4 p-3 justify-content-center">
                                <div class="col-12 text-center mb-2"><h5>Usuario</h5></div>
                                <div class="col-3 text-center"><span>Nombre</span><br/><p class="name"></p></div>
                                <div class="col-3 text-center"><span>Apellidos</span><br/><p class="surname"></p></div>
                                <div class="col-3 text-center"><span>DNI</span><br/><p class="dni"></p></div>
                                <div class="col-3 text-center"><span>Correo</span><br/><p class="email"></p></div>
                            </div>
                            <div class="row mt-4 p-3 justify-content-center">
                                <div class="col-12 text-center mb-2"><h5>Vehículo</h5></div>
                                <div class="col-3 text-center"><span>Marca</span><br/><p class="brand"></p></div>
                                <div class="col-3 text-center"><span>Modelo</span><br/><p class="model"></p></div>
                                <div class="col-3 text-center"><span>Matrícula</span><br/><p class="licensePlate"></p></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn" data-bs-dismiss="modal">Modificar</button>
                        <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <th:block th:include="fragments/footer" />

    <script>
        function mod(n, m) {
            return ((n % m) + m) % m;
        }

        function hideByIndex(currentIndex) {
            $('.container-fluid .row .col').each(function () {
                var colId = parseInt($(this).attr('id'));
                if ((colId < currentIndex) || (colId > currentIndex + 6)) // Index starts at 0
                    $(this).hide();
                else
                    $(this).show();
            });

            const startDate = $('#' + currentIndex + ' .calendarEventDate').text();
            const endDate = $('#' + (currentIndex + 6) + ' .calendarEventDate').text();
            $('.calendarDateRange').text(startDate + ' - ' + endDate);
        }

        function showDetails(bookingDetails) {
            console.log(bookingDetails);
            let params = {
                vehicleID: bookingDetails.vehicleID,
                userID: bookingDetails.userID
            }

            // Spring Security lo añade en formularios html, pero no en Ajax
            params[config.csrf.name] = config.csrf.value;

            $.ajax({
                type: "GET",
                url: config.rootUrl + "/booking/details",
                data: params,
                success: (response) => {
                    $('#bookingDetails').modal("show");
                    $("#inDate").attr("value", bookingDetails.inDate);
                    $("#outDate").attr("value",bookingDetails.outDate);
                    $("#price").attr("value",bookingDetails.price + " €");
                    $("#BookingUserID").attr("value", bookingDetails.userID);
                    $("#BookingVehicleID").attr("value", bookingDetails.vehicleID);
                    $("#oldInDate").attr("value", bookingDetails.inDate);
                    $("#oldOutDate").attr("value", bookingDetails.outDate);
                    $(".name").text(response.user.firstName);
                    $(".surname").text(response.user.lastName);
                    $(".dni").text(response.user.dni);
                    $(".email").text(response.user.email);
                    $(".brand").text(response.vehicle.brand);
                    $(".model").text(response.vehicle.modelName);
                    $(".licensePlate").text(response.vehicle.license);
                },
                error: (e) => {
                    console.log(e);
                }
            });
        }

        $(document).ready(function () {
            var currentIndex = 7;

            const leftButton = $('.pageLeft');
            const rightButton = $('.pageRight');

            $('.pageLeft').click(function () { currentIndex = mod((currentIndex - 7), 21); hideByIndex(currentIndex) });
            $('.pageRight').click(function () { currentIndex = mod((currentIndex + 7), 21); hideByIndex(currentIndex) });

            hideByIndex(currentIndex);
        });

    </script>
</body>

</html>