<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title th:inline="text">[[${@environment.getProperty('APP_NAME')}]] - Calendario de reservas</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container-fluid">
        <h2 class="pageTitle text-center mt-5">Actividad Reciente</h2>

        <div class="row justify-content-center align-items-center mt-4">
            <div class="col-1 text-center"><button class="border-0 calendarDatePagination pageLeft">&#60;</button></div>
            <div class="col-3 text-center calendarDateRange" th:text="${#temporals.format(bookings.keySet().toArray()[7], 'dd/MM/yyyy') + ' - ' + #temporals.format(bookings.keySet().toArray()[13], 'dd/MM/yyyy')}"></div>
            <div class="col-1 text-center"><button class="border-0 calendarDatePagination pageRight">&#62;</button></div>
        </div>

        <div class="row m-5 calendarEvents">
            <div class="col" th:id="${iterator.index}" th:each="day, iterator : ${bookings}">
                <div th:switch="${iterator.index % 7}">
                    <h2 class="calendarEventDay text-center" th:case="0">Lunes</h2>
                    <h2 class="calendarEventDay text-center" th:case="1">Martes</h2>
                    <h2 class="calendarEventDay text-center" th:case="2">Miércoles</h2>
                    <h2 class="calendarEventDay text-center" th:case="3">Jueves</h2>
                    <h2 class="calendarEventDay text-center" th:case="4">Viernes</h2>
                    <h2 class="calendarEventDay text-center" th:case="5">Sábado</h2>
                    <h2 class="calendarEventDay text-center" th:case="6">Domingo</h2>
                </div>
                <h6 class="calendarEventDate text-center" th:text="${#temporals.format(day.key, 'dd/MM/yyyy')}">Day</h6>
                <p class="text-center greyed" th:if="${#lists.isEmpty(day.value)}">Sin movimientos</p>

                <div class="card calendarEvent mt-3" th:each="booking : ${day.value}">
                    <div class="calendarEventStrip bookingStart mb-2" th:if="${booking.id.in_date.isEqual(day.key)}"></div>
                    <div class="calendarEventStrip bookingEnd mb-2" th:if="${booking.id.out_date.isEqual(day.key)}"></div>
                    
                    <div class="card-body">
                        <p class="card-title" th:if="${booking.id.in_date.isEqual(day.key)}">Inicio reserva</p>
                        <p class="card-title" th:if="${booking.id.out_date.isEqual(day.key)}">Fin reserva</p>
                        <p class="card-text" th:text="${booking.vehicle.brand + ' ' + booking.vehicle.modelName + ' - ' + booking.vehicle.license}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="fragments/footer" />

    <script>
        function mod(n, m) {
            return ((n % m) + m) % m;
        }

        function hideByIndex(currentIndex) {
            $('.container-fluid .row .col').each(function() {
                console.log(currentIndex);

                var colId = parseInt($(this).attr('id'));
                if ((colId < currentIndex) || (colId > currentIndex + 6)) // Index starts at 0
                    $(this).hide();
                else
                    $(this).show();
            });

            const startDate = $('#' + currentIndex + ' .calendarEventDate').text();
            const endDate = $('#' + (currentIndex + 6) + ' .calendarEventDate').text();
            $('.calendarDateRange').text(startDate + ' - ' + endDate);
        }

        $(document).ready(function() {
            var currentIndex = 7;

            const leftButton = $('.pageLeft');
            const rightButton = $('.pageRight');

            $('.pageLeft').click(function(){ currentIndex = mod((currentIndex - 7), 21); hideByIndex(currentIndex) });
            $('.pageRight').click(function(){ currentIndex = mod((currentIndex + 7), 21); hideByIndex(currentIndex) });

            hideByIndex(currentIndex);
        });

    </script>
</body>

</html>