<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:include="fragments/head :: header" />
    <title>Mensajes entrantes</title>

</head>

<body class="d-flex flex-column">

    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container min-vh-50">

        <div class="row">
            <h2 class="pageTitle text-center mt-5">Mensajes entrantes</h1>
        </div>

        <div class="row">
            <table class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th colspan="2" scope="col">Mensaje</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="msg, i: ${msgs}">
                        <th th:text="${i.index}" scope="row">1</th>
                        <td th:text="${msg.sender.username}">username</td>
                        <td th:text="${msg.text}" colspan="2">Mensaje recibido</td>
                        <td class="form-group text-center">
                                <button class="border-0 bg-transparent"
                                    th:attr="onclick='viewChat(\'' + ${msg.sender.id} + '\', \'' + ${msg.sender.username} + '\')'">
                                    <i class="fa-solid fa-message"></i>
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container min-vh-60">
        <div class="row">
            <h2 class="pageTitle text-center mt-5">Mensajes pendientes
                <span th:text="${msgsPending}" class="badge bg-warning text-dark rounded-pill">4</span>
            </h2>
        </div>

        <div th:if="${msgsPending != 0}" class="row">
            <table class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col"> Date sent</th>
                        <th scope="col">Mensaje</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${lastMsg.sender.username}"></td>
                        <td th:text="${lastMsg.dateSent}"></td>
                        <td th:text="${lastMsg.text}"></td>

                        <td class="form-group text-center">
                            <button class="border-0 bg-transparent"
                                th:attr="onclick='acceptMsg(\'' + ${lastMsg.id} + '\', \'' + ${lastMsg.sender.id} + '\', \'' + ${lastMsg.sender.firstName} + '\')'">
                                <i class="fa-solid fa-message"></i> <!-- Cambiar icono por fa-message-check-->
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div id="chatcontainer"> </div>


    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/chat.js}"> </script>

</body>

</html>