<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Profile</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                
            </div>
        </div>
        <div class="row justify-content-center mt-5 mb-2">
            <div class="col-auto">
                <img th:src="@{/img/{name}(name=${user.imagePath})}"  width="234" height="234" alt="Imagen de perfil" class="d-inline-block img-fluid">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="fs-3 fw-bolder mb-0" th:text="|${user.firstName} ${user.lastName}|">Juan Carlos Martínez</p>
                <p class="mt-0">Cliente</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">Nombre</p>
                <p class="mt-0 fw-bold" th:text="${user.firstName}">Juan Carlos</p>
            </div>

            <div class="col-auto">
                <p class="mb-0">Apellidos</p>
                <p class="mt-0 fw-bold" th:text="${user.lastName}">Martínez</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">Correo Electrónico</p>
                <p class="mt-0 fw-bold" th:text="${user.email}">martinator89@gmail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">Nombre de usuario</p>
                <p class="mt-0 fw-bold" th:text="${user.username}">juancar89</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">DNI</p>
                <p class="mt-0 fw-bold" th:text="${user.DNI}">32439402W</p>
            </div>
        </div>
    </div>
    <th:block th:include="fragments/footer"/>

</body>

</html>