<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Profile</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="container">
        <th:block th:replace="fragments/flash :: flash" />
        <div class="row justify-content-center">
            <div class="col-auto">

            </div>
        </div>
        <div class="row justify-content-center mt-5 mb-2">
            <div class="col-auto">
                <img th:src="@{/user/{id}/pic(id=${session.u.id})}" width="234" height="234" alt="Imagen de perfil"
                    class="d-inline-block img-fluid">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="fs-3 fw-bolder mb-0" th:text="|${user.firstName} ${user.lastName}|">Juan Carlos Martínez</p>
                <div class="row">
                    <div class="col">
                        <p class="mt-0">Cliente</p>
                    </div>
                    <div class="col text-end">
                        <button id = "btmodificar" class="border-0 bg-transparent" title="Modificar" type="submit" data-bs-toggle="modal"
                        data-bs-target="#modalModificarUsuario"><i class="fa-solid fa-lg fa-pencil"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">Nombre</p>
                <p class="mt-0 fw-bold" th:text="${user.firstName}">Juan Carlos</p>
            </div>

            <div class="col-auto">
                <p class="mb-0">Apellidos</p>
                <p class="mt-0 fw-bold" th:text="${user.lastName}">Martínez</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">Correo Electrónico</p>
                <p class="mt-0 fw-bold" th:text="${user.email}">martinator89@gmail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">Nombre de usuario</p>
                <p class="mt-0 fw-bold" th:text="${user.username}">juancar89</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-auto">
                <p class="mb-0">DNI</p>
                <p class="mt-0 fw-bold" th:text="${user.DNI}">32439402W</p>
            </div>
        </div>
        <div class="modal fade" id="modalModificarUsuario" tabindex="-1" aria-labelledby="modalAlquilerLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalAlquilerLabel">Modificar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <form class="row" method="POST" enctype="multipart/form-data" th:action="@{/user/profile/modify}">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row mt-3">
                                    <div class="col text-start">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control mt-1" th:value="${user.firstName}"
                                            name="nombre" id="nombre_perfil" required>
                                    </div>
                                    <div class="col text-start">
                                        <label for="primer_apellido">Apellido</label>
                                        <input type="text" class="form-control mt-1" th:value="${user.lastName}"
                                            name="apellido" id="apellido_perfil" required> 
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col text-start">
                                        <label for="correo">Correo</label>
                                        <input type="email" class="form-control mt-1" th:value="${user.email}"
                                            name="correo" id="correo_perfil" required
                                            pattern= "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="El formato debe ser email@gmail.com">
                                    </div>
                                    <div class="col text-start">
                                        <label for="usuario">Nombre de usuario</label>
                                        <input type="text" class="form-control mt-1" th:value="${user.username}"
                                            name="usuario_perfil" id="usuario_perfil" disabled="disabled">
                                    </div>
                                    <div class="col text-start">
                                        <label for="dni">DNI</label>
                                        <input type="text" class="form-control mt-1" th:value="${user.DNI}" name="dni"
                                            id="dni_perfil" pattern="[0-9]{8}[A-Za-z]{1}" title="El formato debe ser 15358957A" requiered>
                                    </div>
                                </div>
                                <div class="row mt-3 justify-content-center">
                                    <div class="col-auto text-start">
                                        <label for="img" class="form-label mt-1">Imagen</label>
                                        <input class="form-control" type="file" id="imagen_perfil" name="imagen" accept="image/jpeg,image/png">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cancelar-modificar" class="btn"
                                data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn" id="confirm-modificar">Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragments/footer" />

</body>

</html>