<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rent A Ride - Inicio</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main>
        <div class="container mt-4">
            <div class="row">
                <h2 class="text-center sugerencesTitle mb-5">¡Estas son las opciones que tenemos para tu búsqueda!</h2>

                <div class="row justify-content-center">
                    <h4 th:if="${#lists.isEmpty(vehicles)}" class="text-center textColor3 mb-5">No hemos podido encontrar nada para tu búsqueda</h4>

                    <div th:unless="${#lists.isEmpty(vehicles)}" th:each="vehicle : ${vehicles}" class="col-md-3 m-0 mt-sm-2">
                        <div class="card sugerenceCard">
                            <a th:href="@{/vehicle/{id}(id=${vehicle.id})}"><img th:src="@{/img/{name}(name=${vehicle.imagePath})}" class="card-img-top" alt="Imagen coche"></a>
                            <div class="card-body">
                              <h5 th:text="${vehicle.vehicle}" class="card-title mb-3">Vehicle</h5>
                              <p th:inline="text" class="card-text mb-1">
                                <i class="fa-solid fa-fw fa-battery-full"></i>
                                  [[${vehicle.autonomy}]] km/día incluidos
                              </p>
                              <p th:inline="text" class="card-text">
                                <i class="fa-solid fa-fw fa-location-dot"></i>
                                  [[ ${vehicle.location.name} ]]
                              </p>
                              <a th:href="@{/vehicle/{id}(id=${vehicle.id})}" class="d-flex justify-content-end">Consultar precio</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/chat.html :: chat" />
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>