<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: header" />
    <title th:inline="text">[[${@environment.getProperty('APP_NAME')}]] - Registro</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 p-0">
                <img th:src="@{/img/lexusPortada.png}" src="/img/lexusPortada.png" alt="" class="img-fluid loginImage vh-100 object-fit-cover">
            </div>
            <div class="col-6">
                <div class="row text-center mb-5 mt-5">
                    <p class="fs-1 form-signin-heading text-center textColor3 fw-semibold">¡Únete a nosotros!</p>
                </div>
                <form class="form-signin text-center mx-5" th:action="@{/login}" method="POST">
                    <div class="row mt-3">
                        <div class="col text-start">
                            <label class="form-label" for="nombre">Nombre</label>
                            <input type="text" class="form-control mt-1" placeholder="Juan" name="nombre" id="nombre">
                        </div>
                        <div class="col text-start"> 
                            <label for="primer_apellido">Primer apellido</label>
                            <input type="text" class="form-control mt-1" placeholder="Martinez" name="primer_apellido" id="primer_apellido"></div>
                        <div class="col text-start">
                            <label for="segundo_apellido">Segundo apellido</label>
                            <input type="text" class="form-control mt-1" placeholder="Garcia" name="segundo_apellido" id="segundo_apellido">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-start">
                            <label for="correo">Correo</label>
                            <input type="email" class="form-control mt-1" placeholder="email@gmail.com" name="correo" id="correo">
                        </div>
                        <div class="col text-start">
                            <label for="usuario">Nombre de usuario</label>
                            <input type="text" class="form-control mt-1" placeholder="juan.martinez89" name="usuario" id="usuario">
                        </div>
                        
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col text-start">
                            <label for="password">Contraseña</label>
                            <input type="text" class="form-control mt-1" placeholder="Contraseña" name="password" id="password">
                        </div>
                        <div class="col text-start">
                            <label for="conf_pass">Repetir contraseña</label>
                            <input type="text" class="form-control mt-1" placeholder="Repetir Contraseña" name="conf_pass" id="conf_pass">
                        </div>
                    </div> <br>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col text-center">
                            <button class="btn btn-lg">Registrarme</button>
                        </div>
                    </div>
                    <hr class="border border-dark border-1 mt-5">
                    <div class="row d-flex justify-content-center text-center">
                        <p>¿Ya tienes cuenta? <a th:href="@{/login}" class="textColor1 text-decoration-none">¡Inicia sesion ahora!</a></p>
                        <small><a class="text-decoration-none textColor2" th:href="@{/}">Volver a inicio</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>