<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Listado de usuarios</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container">
        <div class="row">
            <th:block th:replace="fragments/flash :: flash" />
            <p class="fw-bold fs-1 text-center mt-5 mb-5">Listado de Usuarios</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" id="search" placeholder="Buscar usuario..."
                        aria-label="Search">
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover table-striped align-middle mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Correo</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user, i: ${users}" class="fila">
                        <th th:text="${i.index + 1}" scope="row">1</th>
                        <td th:text="${user.username}" class="busqueda">Nombre de usuario</td>
                        <td th:text="${user.email}">Correo del usuario</td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <form method="POST" th:action="@{/user/{id}/delete (id=${user.id})}">
                                        <div class="form-group text-end">
                                            <button class="border-0 bg-transparent" title="Eliminar" type="submit"><i
                                                    class="fa-solid fa-xl fa-trash"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col">
                                    <div class="form-group text-start">
                                        <button class="border-0 bg-transparent" title="Modificar" type="submit"
                                            data-bs-toggle="modal"
                                            th:attr="data-bs-target='#modalModificarUsuario'+${user.id }"><i
                                                class="fa-solid fa-xl fa-pencil"></i></button>
                                    </div>
                                    <form class="row" method="POST" enctype="multipart/form-data"
                                        th:action="@{user/{id}/modify(id=${user.id})}">
                                    <div class="modal fade" th:id="modalModificarUsuario+${user.id }" tabindex="-1"
                                        aria-labelledby="modalAlquilerLabel" aria-hidden="true">
                                        <div
                                            class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modalAlquilerLabel">Modificar</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Cerrar"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row mt-3">
                                                            <div class="col text-start">
                                                                <label for="nombre">Nombre</label>
                                                                <input type="text" class="form-control mt-1"
                                                                    th:value="${user.firstName}" name="nombre"
                                                                    id="nombre_gestion_u" required>
                                                            </div>
                                                            <div class="col text-start">
                                                                <label for="primer_apellido">Apellido</label>
                                                                <input type="text" class="form-control mt-1"
                                                                    th:value="${user.lastName}"
                                                                    name="apellido" id="apellido_gestion_u"
                                                                    required>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col text-start">
                                                                <label for="correo">Correo</label>
                                                                <input type="email" class="form-control mt-1"
                                                                    th:value="${user.email}" name="correo"
                                                                    id="correo_gestion_u" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                                                    title="El formato debe ser email@gmail.com">
                                                            </div>
                                                            <div class="col text-start">
                                                                <label for="dni">DNI</label>
                                                                <input type="text" class="form-control mt-1"
                                                                    th:value="${user.DNI}" name="dni"
                                                                    id="dni_gestion_u" pattern= "[0-9]{8}[A-Za-z]{1}" 
                                                                    title="El formato debe ser 15358957A" required>
                                                            </div>
                                                            <div class="col text-start">
                                                                <label for="usuario">Nombre de usuario</label>
                                                                <input type="text" class="form-control mt-1"
                                                                    th:value="${user.username}" name="cuenta"
                                                                    id="usuario_gestion_u" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col text-start">
                                                                <label for="roles">Roles</label>
                                                                <input type="text" class="form-control mt-1"
                                                                    th:value="${user.roles}" name="roles"
                                                                    id="roles_gestion_u" title="Admin/Gestor/User"
                                                                    required>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3 justify-content-center">
                                                            <div class="col-auto text-start">
                                                                <label for="img" class="form-label mt-1">Imagen</label>
                                                                <input class="form-control" type="file"
                                                                    id="imagen_gestion_u" name="imagen"
                                                                    accept="image/jpeg,image/png">
                                                            </div>
                                                        </div><br>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="confirm-reservar" class="btn"
                                                        data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="submit" class="btn"
                                                        id="confirm-reservar">Modificar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>