<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chat fragment - rest is empty</title>
</head>

<body>

    <button class="chatIcon" data-bs-toggle="collapse" data-bs-target="#chat" aria-expanded="false"
                    aria-controls="chat"><i class="fa-solid fa-headset fa-xl"></i></button>
    <th:block th:if="${session.u}">

        <th:block th:fragment="chat">
            <div class="container collapse chat" id="chat">
                <div class="row chatHeader py-3">
                    <div class="col-12">
                        ¿En qué te podemos ayudarte?
                    </div>
                </div>

                <div class="row chatBody p-3 d-flex h-100">
                    <div class="col-12 chatMessage my-2 py-2 chatSender">
                        Hola
                    </div>

                    <div class="col-12 chatMessage my-2 py-2 chatReceiver">
                        ¿Qué tal?
                    </div>

                    <div class="col-12 chatMessage my-2 py-2 chatSender">
                        Pues nada bien, esto es una prueba con un texto larguisimo para ver si se desborda el contenedor
                        o no!
                    </div>
                </div>

                <div class="row chatInput py-3">
                    <form class="row" action="">
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" class="form-control border-0" name="message" id="message"
                                    placeholder="Escribe tu mensaje">
                                <span class="input-group-append px-2 d-flex align-items-center attachmentGroup">
                                    <label role="button" for="attachment"><i class="fa-solid fa-paperclip"></i></label>
                                    <input type="file" class="d-none form-control" name="attachment" id="attachment">
                                </span>
                            </div>
                        </div>

                        <div class="col-2">
                            <button type="submit" method="POST" th:action="@{/user/{id}/msg(id=${session.u.id})}" class="btn" ><i class="fa-solid fa-paper-plane fa-xl"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            
        </th:block>
        

    </th:block>

    <th:block th:unless="${session.u}">
        <script> alert('Registrate!')</script>
    </th:block>

</body>

</html>