<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chat fragment - rest is empty</title>
</head>

<body>

    <th:block th:fragment="chat">

        <th:block th:if="${session.u}">

            <div class="container collapse chat" id="chat">
                <div class="row chatHeader py-3">
                    <div class="col-12">
                        Chat de [[${@environment.getProperty('APP_NAME')}]]
                    </div>
                </div>

                <div class="row chatBody p-3 d-flex h-100">
                    <div class="col-12 chatMessage my-2 py-2 chatReceiver">
                        ¿En qué te podemos ayudarte?
                    </div>

                </div>

                <div class="row chatInput py-3">

                    <div class="col-10">
                        <div class="input-group">
                            <input type="text" class="form-control border-0" name="message" id="message"
                                placeholder="Escribe tu mensaje">
                            <span class="input-group-append px-2 d-flex align-items-center attachmentGroup">
                                <label role="button" for="attachment"><i class="fa-solid fa-paperclip"></i></label>
                                <!--<input type="file" class="d-none form-control" name="attachment" id="attachment">-->
                            </span>
                        </div>
                    </div>

                    <div class="col-2">
                        <button id="sendmsg" class="btn btn-secondary" 
                                th:onclick="'sendMsg(' + ${idReceiver} + ')'"> 
                            Enviar
                        </button>
                    </div>
                </div>
            </div>

            <button class="chatIcon" data-bs-toggle="collapse" data-bs-target="#chat" aria-expanded="false"
            aria-controls="chat"><i class="fa-solid fa-headset fa-xl"></i></button>

        </th:block>

        <th:block th:unless="${session.u}">

            <div class="modal fade" id="registrateModal" tabindex="-1" aria-labelledby="registrateModal" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Para acceder a todas las funcionalidades del sitio, debes registrarte.</p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="chatIcon" data-toggle="modal" data-target="#registrateModal"><i class="fa-solid fa-headset fa-xl"></i></button>
        
        </th:block>

    </th:block>

</body>

</html>