<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chat fragment - rest is empty</title>
</head>

<body>

    <th:block th:fragment="chat">

        <th:block th:if="${session.u}">

            <div class="container w-25 collapse p-3 chat" id="chat">                
                <div class="row agentChatHeader">
                    <div class="col">
                        <h4 class="m-0" th:inline="text">[[${@environment.getProperty('APP_NAME')}]] Chat</h4>
                    </div>
                </div>
        
                <div class="agentChatBody overflow-auto bg-white">
                    <div class="row justify-content-start">
                        <div class="col-6 agentChatMessage text-start" th:inline="text">
                            ¡Bienvenido al chat de atención de [[${@environment.getProperty('APP_NAME')}]]! ¿En qué te podemos ayudar?        
                        </div>
                    </div>
                </div>
        
                <div class="row align-items-center agentChatForm">
                    <div class="col-9 align-self-center">
                        <div class="input-group">
                            <input id="message" type="text" class="form-control border-0" name="message"  placeholder="Escribe tu mensaje">
                            <span class="input-group-append px-2 d-flex align-items-center attachmentGroup">
                                <label role="button" for="attachment"><i class="fa-solid fa-paperclip"></i></label>
                                <input type="file" class="d-none form-control" name="attachment" id="attachment">
                            </span>
                        </div>
                    </div>
        
                    <div class="col-3 align-self-center">
                        <div class="d-grid">
                            <button id="chatSend" type="submit" class="btn btn-primary" th:attr="onclick='sendMsg(-1)'">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>

            <button th:if="${session.u}" class="chatIcon" data-bs-toggle="collapse" data-bs-target="#chat" aria-expanded="false"
                aria-controls="chat"><i class="fa-solid fa-headset fa-xl"></i></button>

        </th:block>

        <script>var firstMessage = true;</script>
        <script th:src="@{/js/chat.js}"> </script>

    </th:block>

</body>

</html>