<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rent A Ride - Inicio</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <th:block th:include="fragments/nav"/>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <img th:src="@{/img/mazdaRX7.png}" src="/img/mazdaRX7.png" alt="" class="img-fluid">
            </div>
            <div class="offset-1 col-6 mt-5">
                <div class="row">
                    <h2 class="mt-5">Mazda RX-7</h2>
                    <p class="text-break">RX-7 - 206 kW/276 CV</p>
                </div>
                <div class="row mt-5">
                    <p class="fw-bold fs-5">Detalles del vehículo</p>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <p class="mb-0">Año</p>
                        <p class="fw-bold">1992</p>
                    </div>
                    <div class="col-3">
                        <p class="mb-0">Combustible</p>
                        <p class="fw-bold">Gasolina</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0">Consumo</p>
                        <p class="fw-bold text-break">12,3 - 15,7L/100km</p>
                    </div>
                    <div class="col-3">
                        <p class="mb-0">Cambio</p>
                        <p class="fw-bold">Manual</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="mb-0">Plazas</p>
                        <p class="fw-bold">4</p>
                    </div>
                    <div class="col-2">
                        <p class="mb-0">Puertas</p>
                        <p class="fw-bold">3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="offset-6 col-6">
                <div class="row">
                    
                    <p class="mb-0"><i class="fa-solid fa-battery-full"></i> Autonomía diaria incluida</p>
                    <p class="fw-bold">400km/día incluidos</p>
                </div>
                <div class="row">
                    <p class="mb-0"><i class="fa-solid fa-location-dot"></i> Ubicación de recogida</p>
                    <p class="fw-bold">T4 Barajas, Madrid</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p class="fs-2 textColor5">145 €/día</p>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalAlquiler">
                    Reservar
                    </button>                  
            </div>
        </div>
        <div class="modal fade" id="modalAlquiler" tabindex="-1" aria-labelledby="modalAlquilerLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalAlquilerLabel">Finalizar reserva</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <h4>Resumen de la reserva</h3>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p class="mb-0">Vehículo</p>
                                <p class="mt-0 fw-bold">Mazda RX-7</p>
                            </div>
                            <div class="col-4">
                                <p class="mb-0">Descripción</p>
                                <p class="mt-0 text-break fw-bold">RX-7 - 206kW/276 CV</p>
                            </div>
                            <div class="col-3">
                                <p class="mb-0">Fecha inicio</p>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-3">
                                <p class="mb-0">Fecha fin</p>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p class="mb-0">Plazas</p>
                                <p class="mt-0 fw-bold">4</p>
                            </div>
                            <div class="col-2">
                                <p class="mb-0">Puertas</p>
                                <p class="mt-0 fw-bold">3</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-3">
                                <p class="mb-0">Precio por día</p>
                                <p class="mt-0 fw-bold">145 €</p>
                            </div>
                            <div class="col-4">
                                <div class="row row-cols-auto">
                                    <div class="col mt-2">
                                        <p class="mb-0 fs-5 fw-bold">Precio total</p>
                                    </div>
                                    <div class="col">
                                        <p class="mt-0 fs-3 textColor5 fw-bold">435 €</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn">Reservar</button>
                </div>
              </div>
            </div>
          </div>
    </div>


    <th:block th:include="fragments/footer"/>
</body>
</html>