<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Crear Vehiculo</title>
</head>
<body>
    
    <div class="container" style="width: 70%;">
        <div class="card bg-light mt-3">
            <div class="card-body text-center">
                <div class="row d-flex text-align-center">
                    <div class="col">
                        <label for="marca">Marca</label>
                        <input type="text" class="form-control" placeholder="Mazda" name="marca" id="marca">
                    </div>
                    <div class="col">
                        <label for="modelo">Modelo</label>
                        <input type="text" class="form-control" name="modelo" id="modelo">
                    </div>
                    <div class="col">
                        <label for="año">Anio</label>
                        <input type="text" name="año" id="año" class="form-control">
                    </div>
                </div>
                <div class="row d-flex text-align-center">
                    <div class="col">
                        <label for="combustible">Combustible</label>
                        <select name="combustible" id="combustible" class="form-select">
                            <option value="">Opciones...</option>
                            <option value="gasolina">Gasolina</option>
                            <option value="diesel">Diesel</option>
                            <option value="electrico">Electrico</option>
                            <option value="hibrido">Hibrido</option>
                            <option value="gas">Gas</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="consumo">Consumo</label>
                        <input type="text" class="form-control" name="consumo" id="consumo">
                    </div>
                    <div class="col">
                        <label for="cambio">Cambio</label>
                          <select name="cambio" id="cambio" class="form-select">
                            <option value="" selected>Cambio</option>
                            <option value="manual">Manual</option>
                            <option value="automático">Automático</option>
                          </select>  
                    </div>
                </div>
                
                <div class="row d-flex text-align-center">
                    <div class="col">
                        <label for="puertas">Puertas</label>
                       <select name="puertas" id="puertas" class="form-select">
                        <option value="" selected>Puertas...</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                       </select>
                    </div>
                    <div class="col">
                        <label for="plazas">Plazas</label>
                        <select name="plazas" id="plazas" class="form-select">
                            <option value="" selected>Asientos</option>
                            <option value="7">7</option>
                            <option value="5">5</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="cv">CV</label>
                        <input type="text" name="cv" id="cv" class="form-control">
                    </div>
                </div>
                <div class="row d-flex text-align-center">
                    <div class="col">
                        <label for="matricula">Matricula</label>
                        <input type="text" class="form-control" placeholder="0000-DDD" name="matricula" id="matricula">
                    </div>
                    <div class="col">
                        <label for="autonomia">Autonomia diaria</label>
                        <input type="text" class="form-control" name="autonomia" id="autonomia" placeholder="400km/dia">
                    </div>
                    <div class="col">
                        <label for="img" class="form-label">Imagen</label>
                        <input class="form-control" type="file" id="img" name="img">
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>