<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Profile</title>
</head>

<body>
    <div class="container  text-center" >
        <div class="row justify-content-center">
            <div class="col">
                <img th:src="@{/img/profile_sample.png}"  alt="profile sample"  class="d-inline-block" width="234px" height="234px">
            </div>
        </div>
        <div class="row">
            <div id="full_name" class="col">
                <strong>Pepe Ramon Jimenez </strong>
            </div>
        </div>
        <div class="row">
            <div id="rol" class="col">
                <em>Cliente </em>
            </div>
        </div>
        <div class="row justify-content-center rows-cols-auto">
            <div class="col text-start">
                <p>Nombre</p>
                <p class="fa-solid">Pepe</p>
            </div>
            <div class="col text-start">
                <p>Apellidos </p>
                <p>Ramon Jimenez</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col text-start">
                <p>Correo</p>
                <p id="mail" >
                    example@example.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-start">
                <p> Nombre de usuario </p>
                <p id="user_name" >
                    pepe_69
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-start">
                <p class="mb-0"><i class="fa-solid"></i> DNI</p>
                <p id="dni" class="fw-bold">32439402W</p>
            </div>
        </div>

    </div>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>
</body>

</html>