/* usa este fichero para personalizar tus vistas */
:root {
    --dark-blue: #08605F;
    --light-blue: #177E89;
    --greened-blue: #598381;
    --dark-green: #8E936D;
    --light-green: #A2AD59;
    --white-hover: #c7c7c7;
    --dark-blue-hover: #064847;
    --light-blue-hover: #066d78;
}

* {
    font-family: Inter;
}

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

.textColor1{
    color: var(--dark-blue);
}

.textColor2{
    color: var(--light-blue);
}

.textColor3{
    color: var(--greened-blue);
}

.textColor4{
    color: var(--dark-green);
}

.textColor5{
    color: var(--light-green);
}

.backgroundColor1{
    background-color: var(--dark-blue);
}

.backgroundColor2{
    background-color: var(--light-blue);
}

.backgroundColor3{
    background-color: var(--greened-blue);
}

.backgroundColor4{
    background-color: var(--dark-green);
}

.backgroundColor5{
    background-color: var(--light-green);
}

nav li .dropdown-item {
    color: var(--dark-blue);
}

.whiteNavbar {
    background-color: white;
}

.whiteNavbar li .nav-link, .whiteNavbar .navbar-toggler-item {
    color: var(--dark-blue);
}

.whiteNavbar li .nav-link:hover {
    color: var(--dark-blue-hover);
}

.greenNavbar {
    background-color: var(--dark-blue);
}

.greenNavbar li .nav-link, .greenNavbar .navbar-toggler-item {
    color: white;
}

.greenNavbar li .nav-link:hover {
    color: var(--white-hover);
}

.btn {
    background-color: var(--light-blue);
    color: white;
}

.btn:hover {
    background-color: var(--light-blue-hover);
    color: white;
}

.homeTopContainer {
    background-image: url("/img/homeBackground.png");
    height: 500px;
}

.searchContainer {
    background-color: white;
    margin-left: 20em;
    margin-right: 20em;
    padding: 2em;
    border-radius: 1em;
    top: 10%;
    position: relative;
}

.searchContainer form label {
    font-size: 16px;
    font-weight: 400;
    color: var(--greened-blue);
}

.searchContainer form button {
    width: 25%;
}

.searchTitle {
    font-size: 32px;
    font-weight: 600;
    color: var(--greened-blue);
}

.sugerenceCard {
    box-shadow: 5px 5px 20px -10px rgb(8 96 95 / 85%);
}

.sugerenceCard img {
    object-fit: contain;
}

.sugerenceCard .card-title {
    font-size: 24px;
    font-weight: 600;
}

.sugerenceCard .card-text {
    font-size: 16px;
    font-weight: 300;
}

.sugerenceCard a {
    font-size: 16px;
    font-weight: 600;
    color: var(--light-blue);
    text-decoration: none;
}

.sugerencesTitle {
    font-size: 40px;
    font-weight: 600;
    color: var(--greened-blue);
}

.chatIcon {
    width: 3.5em;
    height: 3.5em;
    border: 0;
    border-radius: 50%;
    background-color: var(--light-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chatIcon:hover {
    transform: scale(1.1);
    background-color: var(--light-blue-hover);
}

.chat {
    position: fixed;
    right: 70px;
    bottom: 200px;
    height: 25em;
    width: 22em;
    border-radius: 1em;
}

.chatHeader {
    background-color: var(--dark-blue);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    font-weight: 600;
    color: white;
}

.chatBody {
    background-color: white;
}

.chatMessage {
    background-color: #EFEFEF;
    border-radius: 0.8em;
    width: 80%;
    overflow-wrap: break-word;
    font-weight: 300;
}

.chatSender {
    margin-left: auto;
    text-align: end;
}

.chatInput {
    background-color: var(--dark-blue);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.chatInput .attachmentGroup {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: white;
    color: #B7B7B7;
}

.chat form button {
    background-color: transparent;
}

.loginImage {
    object-fit: cover;
}

.lightBlueBorder{
    border-color: var(--light-blue) !important;
}

.createVehicleForm {
    font-size: 16px;
    font-weight: 400;
}

.pageTitle {
    font-size: 48px;
    font-weight: 600;
}