/* usa este fichero para personalizar tus vistas */
:root {
    --dark-blue: #08605F;
    --light-blue: #177E89;
    --greened-blue: #598381;
    --dark-green: #8E936D;
    --light-green: #A2AD59;
    --white-hover: #c7c7c7;
    --dark-blue-hover: #064847;
}

* {
    font-family: Inter;
}

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

.textColor1{
    color: var(--dark-blue);
}

.textColor2{
    color: var(--light-blue);
}

.textColor3{
    color: var(--greened-blue);
}

.textColor4{
    color: var(--dark-green);
}

.textColor5{
    color: var(--light-green);
}

.backgroundColor1{
    background-color: var(--dark-blue);
}

.backgroundColor2{
    background-color: var(--light-blue);
}

.backgroundColor3{
    background-color: var(--greened-blue);
}

.backgroundColor4{
    background-color: var(--dark-green);
}

.backgroundColor5{
    background-color: var(--light-green);
}

nav li .dropdown-item {
    color: var(--dark-blue);
}

.whiteNavbar {
    background-color: white;
}

.whiteNavbar li .nav-link, .whiteNavbar .navbar-toggler-item {
    color: var(--dark-blue);
}

.whiteNavbar li .nav-link:hover {
    color: var(--dark-blue-hover);
}

.greenNavbar {
    background-color: var(--dark-blue);
}

.greenNavbar li .nav-link, .greenNavbar .navbar-toggler-item {
    color: white;
}

.greenNavbar li .nav-link:hover {
    color: var(--white-hover);
}